<!DOCTYPE html>
    <head>
        <meta charset="utf-8">
        <title><%= title %></title>
        <link href="./css/bootstrap.min.css" rel="stylesheet">
        <link href="./css/intro_style.css" rel="stylesheet">
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    </head>
    <body>
        <div class="navbar_bg">
            <div class="main_header_BF">
                <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 border-bottom">
                  <a href="/" class="d-flex align-items-center col-md-3 mb-2 mb-md-0 text-dark text-decoration-none">
                    <img class = "ms-4 me-2" src="./image/syringe.png" width="30px"></span>
                    <span class="fw-bold fs-6 me-2">백신 예약 <br>시스템</span>
                </a>
            
                  <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
                    
                    <li><a href="#" class="nav-link px-4 link-dark">백신 예약</a></li>
                    <div class="vr"></div>
                    <li><a href="#" class="nav-link px-4 link-dark">통계</a></li>
                    <div class="vr"></div>
                    <li><a href="#" class="nav-link px-4 link-dark">친구</a></li>
                    <div class="vr"></div>
                    <li><a href="#" class="nav-link px-4 link-dark">부작용 신고</a></li>
                    <div class="vr"></div>
                    <li><a href="#" class="nav-link px-4 link-dark">응급실 안내</a></li>
                  </ul>
            
                  <div class="col-md-3 me-3 text-end">
                    <button type="button" class="btn btn-outline-primary me-2">로그인</button>
                    <button type="button" class="btn btn-primary">회원 가입</button>
                  </div>
                  
                </header>
                
            </div>
          </div>