<% include ./common/header_bg %>

  <div class="container">
    <div class="modal-dialog" role="document">
      <div class="modal-content rounded-5 shadow" style="background: rgba(255, 255, 255, 0.7);">
        <div class="modal-header p-5 pb-4 border-bottom-0 justify-content-center">
          <!-- <h5 class="modal-title">Modal title</h5> -->
          <h1 class="fw-bold h3 mb-3 fw-normal">이메일 인증 필요</h1>
        </div>

        <main class="form-signin" style="max-width: 330px;">
          <div class="text-center">
            <p class="fw-bold mb-3 h5"><회원가입 시 입력한 이메일></p>
          </div>
          <div class="row justify-content-center align-items-center"
            style="border-radius: 1rem; background-color: #00A3FF; min-height: 2.5rem;">
            <%= email %>
          </div>
          <div class="text-center">
            <p class="fw-bold mt-3 h5">로 인증메일이 전송되었습니다.</p>
            <p class="fw-bold mt-5 h6">10분 이내로 클릭하시기 바랍니다.</p>
          </div>
        </main>
      </div>
    </div>
  </div>

  <% include ./common/footer %>