<% include ./common/header %>

    <div class="container">
        <div class="py-4 px-3 pb-3 text-start" style="background-color: #00A3FF;">
            <h2 class="px-4 display-8 fw-bold text-white">전체 그룹원 목록</h2>
        </div>

        <div class="p-5 mb-4 bg-light">
            <div class="container-fluid py-2">
                
                <div class="form-check p-4">
                    <label><h5 class="fs-4 fw-bold">
                        <input type="checkbox" class="check" id="checkAll"> 모두 선택
                    </label></h5>
                </div>
                
                <div class="form-check">
                    <label><h5 class="fs-4 fw-bold">
                        <input type="checkbox" class="check"> [친구] 권유진
                    </label></h5>
                </div>
                    
                <div class="form-check">
                    <label><h5 class="fs-4 fw-bold">
                        <input type="checkbox" class="check"> [직장] 권지윤
                    </label></h5>
                </div>
                    
                <div class="form-check">
                    <label><h5 class="fs-4 fw-bold">
                        <input type="checkbox" class="check"> [가족] 김수현
                    </label></h5>
                </div>

                <div class="form-check">
                    <label><h5 class="fs-4 fw-bold">
                        <input type="checkbox" class="check"> [친구] 이희진
                    </label></h5>
                </div>

                <div class="row-md-3 mt-5 me-3 text-center">
                    <button type="button" class="btn btn-primary me-3">모임 인원 계산</button>
                </div>    

            </div>
        </div>
    </div>

    <% include ./common/footer %>