<% include ./common/header %>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js"></script>
<script type="text/javascript">

    const btn = document.querySelector('#add_submit');
    const userid = document.querySelector('#username');
    
    async function userid_chk(){
        let data = await axios.get(`http://localhost:3000/user/userid_check?userid=${userid.value}`);
        // Ajax ID값 가져와서 중복 아니면 TRUE, 중복이면 FALSE

        console.log(data);

        overlap_flag = data.data.login; 
        if(login_flag){ // 중복 없음 -> 존재하지 않는 아이디
            userid_msg.innerHTML = '존재하지 않는 아이디입니다.';
            userid_msg.style.color = 'red';
        }    
    }
</script>

<script>
    function onWriteSubmit(){
        if($("#username").val().trim()==""){
            var message="아이디를 입력해 주세요.";
            $("#username").val("");
            $("#username").focus();
            alert(message);
            return false;
        }
    }
</script>

<div class="container">

    <div class="py-4 px-3 pb-3 text-start" style="background-color: #00A3FF;">
        <h2 class="px-4 display-8 fw-bold text-white">친구 추가</h2>
    </div>

    <div class="p-5 mb-4 bg-light">
        <div class="container-fluid py-5">
            <form method = "post" action = "/group_mem_add" class="needs-validation" novalidate>
                <div class="row g-5 align-items-center justify-content-center">
                    <div class="col-md-7 col-lg-8">
                        <div class="row g-3">

                            <div class="col-12">
                                
                                <label for="username" class="form-label">친구의 아이디</label>
                                    <input type="username" class="form-control" name="username" id="username" placeholder="abcd1234">
                                <div class="invalid-feedback">
                                    Please enter a valid email address for shipping updates.
                                </div>
                            </div>

                            <div class="col-md-12">
                                <label class="form-label">그룹 선택</label>
                                    <select class="form-select" name = 'group' aria-label=".form-select-lg example">
                                        <option selected>그룹 선택</option>
                                        <% for(var i=0;i<rows.length;i++) { %>
                                            <option value="<%= rows[i].id %>"><%=rows[i].team_name %></option>
                                        <% } %>
                                    </select>
                            </div>

                        </div>

                        <hr class="my-4">

                        <button class="w-100 btn btn-primary btn-lg" onclick = "onWriteSubmit()" id = "add_submit" type="submit">친구 추가</button>
            </form>

        </div>
    </div>

</div>

<% include ./common/footer %>

