<% include ./common/header_bg %>

  <div class="container col-xl-10 col-xxl-8 px-4 py-5">
    <div class="px-4 py-5 my-5 text-center">
      <h1 class="display-5 fw-bold text-white" style="text-shadow: black 0.1em 0.1em 0.2em;">당신을 위한 단 하나의 백신, </h1>
      <h1 class="ps-5 display-5 fw-bold text-white" style="text-shadow: black 0.1em 0.1em 0.2em;">일상회복을 위한 빠른 접종</h1>
      <div class="col-lg-6 mt-5 mx-auto">
        <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
          <button type="button" class="btn btn-primary btn-lg px-4 gap-3">지금 찾아보기</button>
        </div>
      </div>
    </div>
  </div>

<% include ./common/footer %>
