<% include ./common/header_date_pick %>

<div class="container">
    <div class="py-4 px-3 pb-3 text-start" style="background-color: #00A3FF;">
        <h2 class="px-4 display-8 fw-bold text-white">회원 가입</h2>
    </div>

    <div class="p-5 mb-4 bg-light">
        <div class="container-fluid py-5">
            <form class="needs-validation" novalidate>
                <div class="row g-5 align-items-center justify-content-center">
                    <div class="col-md-7 col-lg-8">
                        <h4 class="mb-3">개인 정보 입력</h4>
                        <div class="row g-3">
                            <div class="col-9">
                                <label for="username" class="form-label">아이디</label>
                                <div class="input-group has-validation">
                                    <span class="input-group-text">@</span>
                                    <input type="text" class="form-control" id="username" placeholder="아이디"
                                        required>
                                    <div class="invalid-feedback">
                                        Your username is required.
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <label class="form-label">&nbsp;</label>
                                <button class="form-control btn btn-primary" >중복 확인</button>
                            </div>
                            <div class="col-12">
                                <label for="username" class="form-label">비밀번호</label>
                                <div class="input-group has-validation">
                                    <input type="password" class="form-control" id="passwd" placeholder="비밀번호"
                                        required>
                                    <div class="invalid-feedback">
                                        Your username is required.
                                    </div>
                                </div>
                            </div>

                            <div class="col-sm-12">
                                <label for="firstName" class="form-label">이름</label>
                                <input type="text" class="form-control" id="firstName" placeholder="홍길동" value="" required>
                                <div class="invalid-feedback">
                                    Valid first name is required.
                                </div>
                            </div>

                            <div class="col-sm-6">
                                <label for="bDate" class="form-label">생년월일</label>
                                <input type="text" class="form-control m-datepicker" placeholder="Click here to open datepicker" required>
                                <div class="invalid-feedback">
                                    Valid first name is required.
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <label for="sex" class="form-label">성별</label>
                                <div>
                                    <div class="fs-5 form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="vac_recommend_fever_yes" id="vac_recommend_fever_yes" value="option1" checked>
                                        <label class="form-check-label" for="inlineRadio1">남자</label>
                                    </div>
                                    <div class="fs-5 form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="vac_recommend_fever_yes" id="vac_recommend_fever_no" value="option2">
                                        <label class="form-check-label" for="inlineRadio2">여자</label>
                                    </div>
                                </div>
                                <div class="invalid-feedback">
                                    Valid first name is required.
                                </div>
                            </div>

                            <div class="col-md-3">
                                <label for="zip" class="form-label">Zip</label>
                                <input type="text" class="form-control" id="zip" placeholder="01422" required>
                                <div class="invalid-feedback">
                                    Zip code required.
                                </div>
                            </div>

                            <div class="col-md-9">
                                <label for="address" class="form-label">주소</label>
                                <input type="text" class="form-control" id="address" placeholder="서울시 노원구 광운로 20"
                                    required>
                                <div class="invalid-feedback">
                                    Please enter your shipping address.
                                </div>
                            </div>
                            <div class="col-12">
                                <label for="address2" class="form-label">상세 주소</label>
                                <input type="text" class="form-control" id="address2" placeholder="111동 1110호 (월계동, 광운대학교)">
                            </div>

                            <div class="col-md-12">
                                <button class="form-control btn btn-primary btn-sm" >주소 찾기</button>
                            </div>

                            <div class="col-12">
                                <label for="address2" class="form-label">전화번호</label>
                                <input type="text" class="form-control" id="address2" placeholder="010-1234-5678">
                            </div>

                            <div class="col-9">
                                <label for="email" class="form-label">이메일</label>
                                <input type="email" class="form-control" id="email" placeholder="you@example.com">
                                <div class="invalid-feedback">
                                    Please enter a valid email address for shipping updates.
                                </div>
                            </div>
                            <div class="col-md-3">
                                <label class="form-label">&nbsp;</label>
                                <button class="form-control btn btn-primary" >중복 확인</button>
                            </div>
                        </div>

                        <hr class="my-4">

                        <div class="form-check">
                            <input type="checkbox" class="form-check-input" id="save-info">
                            <label class="form-check-label" for="save-info">이용 약관에 동의합니다</label>
                        </div>

                        <hr class="my-4">

                        <button class="w-100 btn btn-primary btn-lg" type="submit">회원 가입</button>
            </form>
        </div>

    </div>
</div>


<script>
    $(document).ready(function(){
    $('.m-datepicker').datepicker({
        format: "yyyy/mm/dd",
        language: "ko",
        todayHighlight: true,
        autoclose: true
        });
    });

</script>

<% include ./common/footer %>