<% include ./common/header_bg %>

<div class="container">
    <div class="modal-dialog" role="document">
      <div class="modal-content rounded-5 shadow" style="background: rgba(255, 255, 255, 0.7);">
        <div class="modal-header p-5 pb-4 border-bottom-0 justify-content-center">
          <!-- <h5 class="modal-title">Modal title</h5> -->
          <h1 class="fw-bold h3 mb-3 fw-normal">예약 시스템 로그인</h1>
        </div>
  
        <main class="form-signin">
          <form method = "POST" action = "login">
            <!--<img class="mb-4" src="/docs/5.1/assets/brand/bootstrap-logo.svg" alt="" width="72" height="57">-->            
            <div class="form-floating">
              <input type="text" class="form-control" name = "username" id="username" placeholder="name">
              <label for="floatingInput">아이디</label>
            </div>
            <div class="form-floating">
              <input type="password" class="form-control" name = "passwd" id="passwd" placeholder="Password">
              <label for="floatingPassword">비밀번호</label>
            </div>
        
            <div class="checkbox mb-3">
              <label>
                <input type="checkbox" value="remember-me"> 로그인 유지하기
              </label>
            </div>
            <button class="w-100 btn btn-sm btn-primary" type="submit">로그인</button>
          </form>
            <button class="w-100 btn btn-sm btn-secondary" onclick="location.href='join'">회원가입</button>
            <p class="mt-5 mb-3 text-muted">&copy; 방구석 질병관리본부</p>
        </main>
      </div>
    </div>
  </div>

<% include ./common/footer %>
