<% include ./common/header %>

<div class="container">
    <div class="py-4 px-3 pb-3 text-start" style="background-color: #00A3FF;">
        <h2 class="px-4 display-8 fw-bold text-white">부작용 신고</h2>
    </div>
    
    <div class="p-5 mb-4 bg-light">
        <div class="container-fluid py-5">
          <h1 class="px-4 display-8 my-5 fw-bold text-center">신고가 접수되었습니다.</h1>
          
            <div class="row mt-4 justify-content-md-center">
                <div class="d-grid col col-2 mx-auto">
                    <button type="button" class="btn btn-primary btn-lg px-4 gap-3" onclick="location.href = 'mypage'">내 정보보기</button>
                </div>
            </div>
        </div>
    </div>
</div>

<% include ./common/footer %>