<% include ./common/header %>

<div class="container">
    <div id = "reserveHospital">
    <div class="py-4 px-3 pb-3 text-start" style="background-color: #00A3FF;">
        <h2 class="px-4 display-8 fw-bold text-white">병원 조회</h2>
    </div>
    <div class="py-4 px-5 pb-3 text-start border-bottom" style="background-color: #0077CD;">
        <h4 class="px-4 display-8 text-white">병원: {{ hospital_name }}</h4>
        <h4 class="px-4 display-8 text-white">백신: -</h4>
    </div>
    <div class="p-5 mb-4 bg-light">
        <div class="container-fluid py-5">
        <form method="POST" name="form">
            <div class="row">
                <div class="col-3">
                    <h6 class="dislpay-8">시/도 선택</h6>
                    <select class="form-select" name ="city" style="width:auto" aria-label=".form-select-lg example" v-model = "metropol" @change="searchByMetropol" required>
                        <option hidden>시/도 선택</option>
                        <option value="서울특별시">서울특별시</option>
                        <option value="부산광역시">부산광역시</option>
                        <option value="대구광역시">대구광역시</option>
                        <option value="인천광역시">인천광역시</option>
                        <option value="광주광역시">광주광역시</option>
                        <option value="대전광역시">대전광역시</option>
                        <option value="울산광역시">울산광역시</option>
                        <option value="세종특별자치시">세종특별자치시</option>
                        <option value="경기도">경기도</option>
                        <option value="강원도">강원도</option>
                        <option value="충청북도">충청북도</option>
                        <option value="충청남도">충청남도</option>
                        <option value="전라북도">전라북도</option>
                        <option value="전라남도">전라남도</option>
                        <option value="경상북도">경상북도</option>
                        <option value="경상남도">경상남도</option>
                        <option value="제주특별자치도">제주특별자치도</option>
                    </select>
                </div>
                
                <div class="col-3">
                    <h6 class="dislpay-8">구/군/시 선택</h6>
                    <select class="form-select" name="district" style="width:auto" aria-label=".form-select-lg example" v-model="district" @change="searchByDistrict">
                        <option selected disabled hidden>구/군/시 선택</option>
                        <option v-for="item in districtList.data" v-bind:key="" :value="item.name">{{ item.name }}</option>
                    </select>
                </div>

                <div class="col-3">
                    <h6 class="dislpay-8">동/면/리 선택</h6>
                    <select class="form-select" name="town" style="width:200px;" aria-label=".form-select-lg example" v-model="town" @change="searchByTown">
                        <option style="width:auto" selected disabled hidden>동/면/리 선택</option>
                        <option v-for="item in townList.data" v-bind:key="" :value="item.name">{{ item.name }}</option>
                    </select>
                </div>

                <div class="col-3">
                    <h6 class="dislpay-8">병원 선택</h6>
                    <select class="form-select" name="hospital_id" style="width:200px;" aria-label=".form-select-lg example" v-model="hospital" @change="getHospitalName">
                        <option style="width:auto" selected disabled hidden>병원 선택</option>
                       <option v-for="item in hospitalList" v-bind:key="" :value="item.id">{{ item.name }}</option>
                    </select>
                </div>
                
            </div>

            <div class="row-md-3 mt-5 me-3 text-center">
                <input type="submit" class="btn btn-primary me-3" name="reserve_select_date" value="날짜 선택" onclick="submit_action(1)">
                <input type="submit" class="btn btn-warning" name="left_vacc" value="잔여 백신 선택" onclick="submit_action(2)">
            </div>    
        </form>
        </div>
        </div>
    </div>
</div>

<script>
    function submit_action(index){
        if(index == 1){
            document.form.action="reserve_select_date";
        }
        else if(index ==2){
            document.form.method="GET";
            document.form.action="leftvacc_select";
        }
    }
    
    const axios_inst = axios.create({
            baseURL: 'http://localhost:3000/api/'
        })
    
    function fetchHospitalApi(params){
        return axios_inst.get("get_hospital_list_by_area", params)
    }

    var reserveHospitalApp = new Vue({
        el: "#reserveHospital", 
        data: {
            metropol: "시/도 선택",
            district: "구/군/시 선택",
            town: "동/면/리 선택",
            hospital: "병원 선택",
            hospital_name: "-",
            districtList: [],
            townList: [],
            hospital_id: null,
            hospitalList: [],
        },
        methods: {
            searchByMetropol: async function(){
                var searchParams = {params: {searchType: 0, metropol: this.metropol}};
                var districtData = await fetchHospitalApi(searchParams);
                this.districtList = districtData;
                this.district = "구/군/시 선택"
                this.townList = [];
                this.town = "동/면/리 선택"
                this.hospital = "병원 선택";
                this.hospital_name = "-";
                this.hospitalList = [];
            },
            
            searchByDistrict: async function(){
                var searchParams = {params: {searchType: 1, metropol: this.metropol, district: this.district}};
                var townData = await fetchHospitalApi(searchParams);
                this.townList = townData; 
                this.hospital = "병원 선택";
                this.hospital_name = "-";
                this.hospitalList = [];
            },
            searchByTown: async function(){
                var searchParams = {params: {searchType: 2, metropol: this.metropol, district: this.district, dong: this.town, emergency: 0}};
                var hospitalData = await fetchHospitalApi(searchParams);
                this.hospitalList = hospitalData.data;
            },

            getHospitalName: async function(){
                for(i = 0; i < this.hospitalList.length; i++)
                    {
                        if(this.hospitalList[i].id == this.hospital){
                            this.hospital_name = this.hospitalList[i].name;
                        }
                    }
            }
        }
    })
</script>

<% include ./common/footer %>
