<% include ./common/header %>

<div class="container">
    <div class="py-4 px-3 pb-3 text-start" style="background-color: #00A3FF;">
        <h2 class="px-4 display-8 fw-bold text-white">병원 조회</h2>
    </div>
    <div class="py-4 px-5 pb-3 text-start border-bottom" style="background-color: #0077CD;">
        <h4 class="px-4 display-8 text-white">병원: 연세 나눔 소아과</h4>
        <h4 class="px-4 display-8 text-white">백신: -</h4>
    </div>
    <div class="p-5 mb-4 bg-light">
        <div class="container-fluid py-5">
            <div class="row">
                <div class="col-3">
                    <h6 class="dislpay-8">시/도 선택</h6>
                    <select class="form-select" style="width:auto" aria-label=".form-select-lg example">
                        <option selected disabled>시/도 선택</option>
                        <option value="1">서울특별시</option>
                        <option value="2">부산광역시</option>
                        <option value="3">대구광역시</option>
                        <option value="4">인천광역시</option>
                        <option value="5">광주광역시</option>
                        <option value="6">대전광역시</option>
                        <option value="7">울산광역시</option>
                        <option value="8">세종특별자치시</option>
                        <option value="9">경기도</option>
                        <option value="10">강원도</option>
                        <option value="11">충청북도</option>
                        <option value="12">충청남도</option>
                        <option value="13">전라북도</option>
                        <option value="14">전라남도</option>
                        <option value="15">경상북도</option>
                        <option value="16">경상남도</option>
                        <option value="17">제주특별자치도</option>
                    </select>
                </div>
                <div class="col-3">
                    <h6 class="dislpay-8">구/군/시 선택</h6>
                    <select class="form-select" style="width:auto" aria-label=".form-select-lg example">
                        <option selected disabled>구/군/시 선택</option>
                        <option value="1">구로구</option>
                        <option value="2">노원구</option>
                        <option value="3">성북구</option>
                    </select>
                </div>
                <div class="col-3">
                    <h6 class="dislpay-8">동/면/리 선택</h6>
                    <select class="form-select" style="width:auto" aria-label=".form-select-lg example">
                        <option selected disabled>동/면/리 선택</option>
                        <option value="1">상계동</option>
                        <option value="2">하계동</option>
                        <option value="3">월계동</option>
                    </select>
                </div>

                <div class="col-3">
                  <div class="list-group">
                    <a href="#" class="list-group-item list-group-item-action">홍길동 병원</a>
                    <a href="#" class="list-group-item list-group-item-action active" aria-current="true">연세나눔소아과</a>
                    <a href="#" class="list-group-item list-group-item-action">김씨일해병원</a>
                    <a href="#" class="list-group-item list-group-item-action">이씨놀아병원</a>
                    <a href="#" class="list-group-item list-group-item-action">권씨들일안해병원</a>
                </div>
                </div>
                
            </div>

        <div class="row-md-3 mt-5 me-3 text-center">
            <button type="button" class="btn btn-primary me-3">병원 선택</button>
            <button type="button" class="btn btn-warning">잔여 백신</button>
        </div>    

        </div>
    </div>
</div>

<% include ./common/footer %>
