<% include ./common/header %>
    <div class="container">
        <div class="py-4 px-3 pb-3 text-start" style="background-color: #00A3FF;">
            <h2 class="px-4 display-8 fw-bold text-white">백신 추천</h2>
        </div>

        <div class="bg-light">
            <div class="container-fluid py-5">

                <h1 class="px-4 display-8 mt-5 fw-bold text-center">당신에게 적합한 백신은</h1>

                <div class="row mb-5 justify-content-md-center">
                    <div class="d-grid col col-3 mx-1">
                        <span style="background-color: aquamarine;">
                            <% if (age < 19) { %>
                                <h1 class="display-8 fw-bold text-center">화이자</h1>
                            <% } else { %>
                                <h1 class="display-8 fw-bold text-center"> <%= request.getParameter("vac_recommend_res") %></h1>
                            <% } %>
                        </span>
                    </div>

                    <div class="d-grid col col-2">
                        <h1 class="display-8 fw-bold text-center">입니다.</h1>
                    </div>
                </div>


                <div class="row mb-5  justify-content-md-center">
                    <div class="d-grid col col-4 mx-1">
                        <h4 class="display-8 fw-bold text-center">국내 총 접종 인원: <%= request.getParameter("vaccined_num") %> 명</h4>

                    </div>

                    <div class="d-grid col col-4">
                        <h4 class="display-8 fw-bold text-center">부작용 확률: <%= request.getParameter("vac_sideeffect_rate") %> % (<%= request.getParameter("vac_sideeffect_num") %>명)</h4>
                    </div>
                </div>



                <div class="row my-5 justify-content-md-center">
                    <div class="d-grid col col-2 mx-3">
                        <input type="submit" class="btn btn-primary btn-lg" onclick="location.href='/'" value="확인">
                    </div>

                    <div class="d-grid col col-2 mx-3">
                        <input type="submit" class="btn btn-primary btn-lg" onclick="location.href='reserve_search_hosp'" value="예약하기">
                    </div>
                </div>
            </div>
        </div>

    </div>

    <% include ./common/footer %>