<% include ./common/header %>

    <div class="container">
        <div class="py-4 px-3 pb-3 text-start" style="background-color: #00A3FF;">
            <h2 class="px-4 display-8 fw-bold text-white">백신 추천</h2>
        </div>
        <div class="bg-light">
            <div class="container-fluid py-5">


                <h1 class="px-4 display-8 my-5 fw-bold text-center">당신에게 현재 시점에서 <br> 백신 접종 대상자가 아닙니다.</h1>
                
                <% if (vac_recommend_age === "no") { %>
                    <h3 class="px-4 display-8 my-5 fw-bold text-center">사유: 접종 가능 나이에 맞지 않습니다.</h3>
                <% } else { %>
                    <h3 class="px-4 display-8 my-5 fw-bold text-center">사유: 고열 등 몸 상태가 안 좋을 경우 백신 접종이 제한됩니다.</h3>
                <% } %>
                



                <div class="row my-5 justify-content-md-center">
                    <div class="d-grid col col-2 mx-auto">
                        <input type="submit" class="btn btn-primary btn-lg" onclick="location.href='intro'" value="확인">
                    </div>
                </div>
            </div>
        </div>
    </div>
<% include ./common/footer %>